################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CarbonCost/FileContentIndex/b3dfbbba-9aca-4bd8-b29b-31cc6eecc36e.vsidx
